.header {
    display: grid;
    align-content: center;
    height: 100px;
    width: 100%;
    background-color: $main-color;
    &__wrapper {
        width: 1140px;
        padding: 0px 15px;
        display: grid;
        align-items: center;
        grid-template-columns: [logl] 516px [menu] 594px;
    }
    &__menu {
        display: flex;
        justify-content: space-between;

    }
    &__logo{
        display: flex;
        align-items: center;
        &_icon {
            margin-right: 8px;
        }
        &:hover {
            color: $green;
            cursor: pointer;
        }
    }
    &__item {
        align-content: center;
        color: $dark;
        font-size: 20px;
        font-weight: 500;
        &:hover {
            color: $green;
            cursor: pointer;
        }
    }
}