@import 'base/variables';
@import 'base/mixins';


body,html {
    margin: 0px;
    padding: 0px 15px;
}

*,**,*::after,*::before {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
}

.container {
    width: 1140px;
    margin: 0 auto;
}


@import 'blocks/header'